/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border: 0px solid;
  border-color: #099;
  font-size: 11px;
  cursor: default;
  background: Window;
  color: WindowText;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  border: 1px solid;
  border-color: #fff #099 #099 #fff;
  font-size: 11px;
  cursor: default;
  background: Window;
  color: WindowText;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "?", "x", "今日" buttons have this class */
  text-align: center;
  cursor: hand;
  padding: 1px;
  border: 1px solid;
  border-color: #099 #e1fbfc #099 #099;
  background: #e1fbfc;
}

.calendar .nav { /* "<<", "<", ">", ">>" buttons have this class */
  cursor: hand;
  color: #000;
  background: #C8F1F5 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  FONT-SIZE: 9pt; 
  font-weight: bold;
  padding: 0px;
  border: 1px solid #099;
  background: #fff;
  color: #099;
  text-align: center;

}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names  "日" 、“一”…… “六”*/
  border-bottom: 1px solid ButtonShadow;
  padding: 2px;
  text-align: center;
  background: #f5f5f5;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header   "日" “六”栏颜色 */
  color: #f60;
}

/* define the buttons show */
.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border: 2px solid;
  cursor: hand;
  padding: 0px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  border-width: 1px;
  padding: 2px 0px 0px 2px;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn { /* define the  weekends's style  */
  padding: 2px 3px 2px 2px;
  border-right: 1px solid ButtonShadow;
  border-left: 1px solid #099;
  background: #f5f5f5;
  color: ButtonText;
}

.calendar tbody .rowhilite td { /*  the  selected row  */
  background: #C8F1F5;
  color: #000;
  font-weight: bold;

}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border-top: 1px solid ButtonHighlight;
  border-right: 1px solid ButtonShadow;
  border-bottom: 1px solid ButtonShadow;
  border-left: 1px solid ButtonHighlight;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow; 
  padding: 2px 2px 0px 2px;
  background: #C8F1F5;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f60;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #099;
}

.calendar tbody td.disabled { color: GrayText; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #c8f1f5;
  padding: 1px;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight #099;
  color: ButtonText;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: hand;
  border: 1px solid;
  border-color: ButtonShadow;
  background: Menu;
  color: MenuText;
  font-size: 100%;
  padding: 1px;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  padding: 0px;
  border: 1px solid #000;
}

.calendar .combo .hilite {
  background: #099;
  color: HighlightText;
}

.calendar td.time {
  border-top: 1px solid ButtonShadow;
  padding: 1px 0px;
  text-align: center;
  background-color: ButtonFace;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #e1fbfc;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #099;
  background-color: Highlight;
  color: HighlightText;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}

//used for datePicker
.textinput_y {
    //font-family: "Tahoma","Times New Roman", "????????";
	//font-size: 12px;
	//color: #000000;
    border: 0px #7F9DB9 solid;
    //background-color: #ffffff;
    //font-style: normal ;
	width: 30px;

}
.textinput_m {
    //font-family: "Tahoma","Times New Roman", "????????";
	//font-size: 12px;
	//color: #000000;
    border: 0px #7F9DB9 solid;
    //background-color: #ffffff;
    //font-style: normal ;
	width: 16px;

}
.textinput_d {
    //font-family: "Tahoma","Times New Roman", "????????";
	//font-size: 12px;
	//color: #000000;
    border: 0px #7F9DB9 solid;
    //background-color: #ffffff;
    //font-style: normal ;
	width: 16px;

}
.dateValue{
  float : left;
	border:1px solid #7F9DB9;
	width:75px;
}