#divstyle{
background:#D6E7F1;
}
#framsetstyle{
border-color:#0072E3;
}
#legendstyle{
color: #000000;
}
#buttonstyle{
background: #66B3FF;
border: 0;
}
#trstyle{
 bgcolor:#97CBFF;
}
#dtrstyle{
background: #ACD6FF;
}
.btn76 {
	background: #66B3FF;
border: 0;
}
.btn100 {
	background: #66B3FF;
border: 0;
}

.btn60 {
	background: #66B3FF;
border: 0;
}
