a {
	line-height: normal;
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #000;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
	

}

.dtree a.node:hover, .dtree a.nodeSel:hover {
	height:0pt;
	padding:0pt 2pt 0pt 2pt;
	border:1pt solid #CECEC3;
	background:buttonface;
	text-decoration: none;
}

.dtree a.nodeSel:visited {
	height:0pt;
	padding:0pt 2pt 0pt 2pt;
	border:1pt solid #76C6CC;
	background:#CAE7E9;
}

.dtree a.nodeSel {
	height:0pt;
	padding:0pt 2pt 0pt 2pt;
	border:1pt solid #76C6CC;
	background:#CAE7E9;
}

.dTreeNode input{margin-top:-4px;}


